<div class="recent-successes-container">
    <h3>Vos Trophées</h3>
    <div class="success-cards-container">
      <div class="card success-card" (click)="navigateToUserStats()">
        <div class="card-body">
          <h5 class="card-title">Atteindre le niveau maximal de tous les personnages</h5>
          <p class="card-text">24/02/2025</p>
        </div>
      </div>
  
      <div class="card success-card" (click)="navigateToUserStats()">
        <div class="card-body">
          <h5 class="card-title">Terminer le jeu en mode Extreme</h5>
          <p class="card-text">15/01/2025</p>
        </div>
      </div>
  
      <div class="card success-card" (click)="navigateToUserStats()">
        <div class="card-body">
          <h5 class="card-title">Battre tous les boss cachés</h5>
          <p class="card-text">01/01/2025</p>
        </div>
      </div>
  
      <div class="card success-card" (click)="navigateToUserStats()">
        <div class="card-body">
          <h5 class="card-title">Atteindre le rang MASTER</h5>
          <p class="card-text">24/12/2024</p>
        </div>
      </div>
  
      <div class="card success-card" (click)="navigateToUserStats()">
        <div class="card-body">
          <h5 class="card-title">Débloquer tous les personnages</h5>
          <p class="card-text">10/10/2024</p>
        </div>
      </div>
    </div>
  </div>
  